body {
  margin: 0;
  scroll-behavior: smooth;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar:hover {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: #1e1e1e;
}

::-webkit-scrollbar-thumb {
  background: #555;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb:hover {
  background: #777;
}

@page {
  size: A4;
  margin: 10mm;
}

.katex {
  font-size: 1.4em;
}

#probe {
  position: absolute;
  visibility: hidden;
  left: -9999px;
  top: 0;
  width: 210mm;
  padding: 20mm;
  box-sizing: border-box;
}

#pages {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 210mm; */
  gap: 10mm;
  scrollbar-width: thin;
  --scrollbar-width: thin;
  --scrollbar-width-legacy: 10px;
}

.page {
  background: white;
  width: 210mm;
  height: 297mm;
  padding: 20mm;
  box-sizing: border-box;
  overflow: hidden;
  position: relative;
  display: block;
}

.image-block {
  text-align: center;
  margin: 10px 0;
}

.image-block img {
  max-width: 100%;
  max-height: 200px;
}

.page-header {
  /* flex: 0 0 auto; */
  margin-bottom: 8mm;
}

.page-content {
  /* flex: 1 1 auto; */
}

.page-footer {
  /* flex: 0 0 auto; */
  margin-top: 8mm;
}

.page-break {
  break-before: page;
}

.task {
  break-inside: avoid;
  page-break-inside: avoid;
}

h1, h2 {
  outline: none;
}

h2 {
  text-decoration: underline;
}

.formula {
  break-inside: avoid;
  page-break-inside: avoid;
  margin: 4px 0;
  display: flex;
  /* justify-content: center; */
}
