html, body {
  margin: 0;
  font-size: 24px;
  font-family: "Arial";
}

textarea {
  resize: none;
  /* height: fit-content; */
}

.buttons-container {
  display: flex;
  gap: 8px;
  padding: 8px;
}

.buttons-container > .btn, .btn {
  border: none;
  font-size: 16px;
  padding: 6px 0;
  cursor: pointer;
  border-radius: 4px;
  /* background: red; */
  font-family: "Arial";
  /* padding: 4px 8px; */
  position: relative;
  display: flex;
  overflow: hidden;
  box-sizing: border-box;
}

div:empty::before {
  content: attr(data-placeholder);
  color: #9aa3ad;
}

.btn.active {
  background: #D0DDEA;
}

.btn.active::before {
  content: '';
  display: block;
  position: relative;
  background: #2F5D8C;
  width: 4px;
  height: 180%;
  left: 0;
  top: -40%;
  margin-right: 5px;
}

.btn.active::after {
  content: '';
  margin-left: 5px;
}

#add-btn {
  font-weight: bold;
  font-size: 32px;
  cursor: pointer;
  border: none;
  width: 40px;
  border-radius: 4px;
}

#add-btn:hover {
  background: rgba(0,0,0,0.1);
}

.header {
  display: flex;
  justify-content: space-between;
  background: rgba(240, 240, 240, 1);
  width: 100%;
  box-sizing: border-box;
  padding: 8px 8px;
}

#formulas {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 8px;
  gap: 8px;
}

.formula-row {
  display: flex;
  width: 100%;
  max-width: 100%;
  position: relative;
  flex-direction: column;
  border-radius: 12px;
  background-color: #f2f2f2;
  border: 1px solid grey;
  overflow: hidden;
}

.formula-row > .explanation {
  padding: 8px;
  font-size: 16px;
}

.omg {
  background: red;
}

.explanation {
  display: none;
  border: none;
  /* border: 1px solid black; */
  outline: none;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.explanation.shown {
  display: block;
}

.formula-row .formula-container {
  /* flex: 0 0; */
  display: flex;
  flex-direction: column;
  /* align-items: start; */
  background: white;
}

.formula-container button {
  color: rgba(200, 200, 200, 1);
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
  padding: 6px 12px;
}

.formula-container button:hover {
  color: grey;
}

.formula-row .input-field {
  padding: 8px 0px 8px 4px;
  /* width: 100%; */
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  background: white;
  flex: 1;
  min-width: 0;
  overflow: hidden;
}

.mq-root-block {
  white-space: nowrap;
  overflow: hidden;
}

.remove-btn {
  /* position: absolute; */
  /* right: 0; */
  /* top: 0; */
  /* height: 50%; */
  flex-shrink: 0;
}

.result {
  /* position: absolute; */
  /* right: 0; */
  /* bottom: 0; */
  margin-bottom: 8px;
  background-color: rgba(230, 230, 230, 1);
  border-radius: 2px;
  padding: 4px 8px;
  font-size: 12px;
  pointer-events: none;
  box-shadow: 1px 1px 6px rgba(0,0,0,0.3);
}

.upper-container {
  display: flex;
  align-items: start;
}

.lower-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* margin-bottom: 8px; */
  margin-left: 8px;
}

.lower-container > input {
  width: fit-content;
}

.result.error {
  opacity: 0;
}

.result.hidden, .result.error, .unit-override.hidden {
  position: absolute;
  opacity: 0;
  width: 0;
  margin: 0;
  height: 0;
}

.input-field {
  box-sizing: border-box;
  border-radius: 0;
  border: none;
  /* border: 1px solid grey; */
  font-size: 24px;
  outline: none;
  flex: 1;
  max-width: 100%;
  transition: all 0.2s ease;
}

.mq-focused {
  border-color: blue;
  border-width: 1px; !important
  outline: none;
}
